body {
	background-color: #110C2A;
}

.section {
  min-height:  1920px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  border:  1px solid red;
  overflow: hidden;
}
.section_info {
  margin-top:  300px;
}

.panel {
  overflow: hidden;
  margin-bottom: 22px;
  background-color: #fff;
  border:  1px solid #bce8f1;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgb(0 0 0 / 5%);
  z-index: 1000;
}
.panel_header {
  color:  #31708f;
  background-color: #d9edf7;
  font-size:  15px;
  font-weight: 400;
  padding:  10px 15px;
  border-bottom: 1px solid #bce8f1;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.panel_body {
  font-weight: 300;
  padding: 15px;
}

.deep_space {
  background-color: #0c0434;
  background-image: url(img/moon.png), url(img/stars.png), url(img/cosmic_gas.png), linear-gradient(#000000, #0c0434);
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
  background-position: center center, center center, top center, center center;
  background-size: 100%, 100%, 100%, 100%;
}

.sky {
  background-image:  linear-gradient(#0c0434, #00e2ff);
}
.sky .clouds {
  position:  absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width:  10000px;
  height: 100%;
  background-image:  url(img/cloud1.png);
  background-repeat: repeat;
  background-size: 1000px 1000px;
  z-index: 3;
  animation: move-background 150s linear infinite;
}
@keyframes move-background {
  from {
    -webkit-transform: translate3d(0px, 0px, 0px);
  }
  to { 
    -webkit-transform: translate3d(1000px, 0px, 0px);
  }
}

.roof_top {
  background-image:  linear-gradient(#00e2ff, #d0d0d0);
}

.closed_facade {
  background-color:  #d0d0d0;
}

.open_facade {
  background-color:  #d0d0d0;
}

.ground_floor {
  background-image:  linear-gradient(#1ff10e, #686868);
}

.basement_level {
  background-image:  linear-gradient(#686868, #533a02);
}

.sub_terranian {
  background-image:  linear-gradient(#533a02, #231a06);
}

.cavern {
  background-image:  linear-gradient(#231a06, #000000);
}

